.menu {
    display: grid;
    grid-template-rows: min-content auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu__content {
    position: relative;
}

.menu__loading {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}