.login-page {
	display: grid;
	grid-template-rows: auto min-content;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.login-page__content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 40px;
}

.login-page__footer {
	color: var(--text-color-2);
	text-align: center;
	line-height: 50px;
}

.login-page__footer > *:last-child {
	margin-left: 4px;
}

.login-page__cta {
	margin: 16px 0px;
}
