.header {
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 16px;
  padding-bottom: 0;
}

.header__header {
  display: grid;
  grid-template-columns: 32px auto;
  align-items: center;
  grid-gap: 16px;
}

.header__title {
  margin: 0;
  font-family: 'Norican', cursive;
  text-shadow: -1px 1px #000;
}

.header__logo {
  width: 32px;
}