.button {
	align-items: center;
	background-color: transparent;
	border-radius: 4px;
	border: 0;
	color: var(--text-color-1);
	cursor: pointer;
	display: inline-flex;
	font-size: 16px;
	justify-content: center;
	padding: 8px 16px;
}

.button:hover {
	color: var(--text-color-2);
}

.button--filled {
	color: var(--contrast-text-color);
	background-color: var(--primary-color);
}

.button--filled:hover {
	color: var(--contrast-text-color);
}
