.container--center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.container--spread {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.container--text-right {
	text-align: right;
}
