.header {
	background-color: var(--surface-color-1);
}

.header__content {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-width);
	min-height: 100%;
	padding: 0px 16px 0 16px;
}

.header__logo {
	text-align: center;
	padding: 16px;
	padding-bottom: 0;
}

.header__action {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 40px;
}

.header-nav {
	width: 100%;
}

.header-nav__ul {
	width: 100%;
	display: flex;
	list-style: none;
	padding: 0;
}

.header-nav__li:first-child {
	margin-right: auto;
}
