.header {
	background-color: var(--surface-color-1);
}

.header__logo {
	text-align: center;
	padding: 16px;
	padding-bottom: 0;
}

.header__action {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 40px;
}
