.logo {
	color: var(--primary-color);
	font-family: var(--font-cursive);
	font-size: 48px;
	font-weight: normal;
	margin: 0;
	white-space: nowrap;
}

.logo--vw-scale {
	font-size: 17vw;
}

@media (min-width: 768px) {
	.logo--vw-scale {
		font-size: 100px;
	}
}
